<mddoc>
	<docpage target="README.md">
		<section title="Quorum Stream Functions">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="QuorumCollection/StreamFunctions" workflow="CI"/>
			<text>Useful functions for manipulating PHP streams (resources).</text>
			<text>The general structure of these are inspired by a [talk given by Rob Pike](https://www.youtube.com/watch?v=HxaD_trXwRE).</text>

			<section title="Requirements">
				<composer-requires/>
			</section>

			<section title="Installing">
				<composer-install/>
			</section>

			<section title="Stream Functions">
				<file name="src/streams.php" />
			</section>
		</section>
	</docpage>
</mddoc>
